*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
body{
    background-color: rgb(104, 163, 163);
}
main{
    background-color: rgb(16, 33, 42);
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(rgb(62, 18, 86), rgb(141, 57, 169), rgb(64, 64, 121), alpha);
}